<head>
    {% if page.title %}
        <title> {{ page.title }} | Test Page</title>
    {% else %}
        <title>Test Page: Don't Panic</title>
    {% endif %}

    {% if page.description %}
        <meta name="description" content="{{page.description}}">

    {%else%}
    <meta name="description" content="This is a dangerous site.">

    {% endif %}
    <meta charset="utf-8">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <link rel="stylesheet" href="../apple-touch-icon.png">
    <link rel="icon" href="../favicon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/../css/reset.css">
    <link rel="stylesheet" href="/../css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
     
    </style>
</head>